@import "loader.scss";

/****Basic styles for small screens (mobile first)****/

$font-stack: Roboto, sans-serif;
$font-logo: Shrikhand, serif;
$primary-color: #9356dc;
$secondary-color: #ff79da;
$primary-color-hover: #aa80dd;
$secondary-color-hover: #fcaee6;
$tertiary-color: #99e2d0;
$main-bg-color: #f6f6f6;
$footer-bg-color: #353535;
$clr-txt-ftr: #ffffff;
$clr-bg-adress: #eaeaea;
$clr-bg-new: #99e2d0;
$clr-txt-new: #008766;
$color-grey: grey;

@mixin shadow {
  box-shadow: 0px 10px 6px -6px rgba(0, 0, 0, 0.15);
  position: relative;
}

@mixin padding-margin-title {
  padding-top: 35px;
  padding-bottom: 20px;
  margin: 0;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin footer-media-queries {
  footer {
    display: flex;
    flex-direction: row-reverse;
    height: 114px;
    h3 {
      padding-top: 50px;
      padding-right: 50px;
    }
  }
}

* {
  font-family: $font-stack;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: 500;
}
a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  width: 100%;
}

.container {
  width: 100%;
  margin: auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: center;
  z-index: 1;
  box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.1);
  position: relative;
}

#logo {
  display: flex;
  justify-content: center;
  padding-bottom: 18px;
  padding-top: 16px;
}

.adress__section {
  background-color: $clr-bg-adress;
  width: 100%;
  height: 50px;
  @include shadow;
  @include flex-center;

  input {
    &.search {
      font-size: 16px;
      font-weight: 500;
      background-color: $clr-bg-adress;
      border: none;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      width: 120px;
      &:focus {
        outline: none;
      }
    }
  }
}
.first-section {
  padding: 35px 0 50px;
  justify-content: center;
  display: flex;
  text-align: center;
}
.btn {
  border-radius: 25px;
  border: none;
  color: $clr-txt-ftr;
  margin-top: 10px;
  padding: 15px 30px;
  background: linear-gradient(to bottom, $secondary-color, $primary-color);
  transition: all 0.3s ease-in-out;
  display: inline-block;
  &:hover {
    opacity: 0.7;
    box-shadow: 0px 12px 6px -6px rgba(0, 0, 0, 0.15);
  }
  @include shadow;
}

.section-title {
  @include padding-margin-title;
}

.steps__functionning {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-bottom: 35px;

  &--content {
    display: flex;
    align-items: center;
    padding-left: 40px;
  }
  &--article {
    height: 72px;
    background-color: $main-bg-color;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 100%;
    &.card {
      background-color: $main-bg-color;
    }
    span {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      @include flex-center;
      border: $primary-color solid 1px;
      background-color: $primary-color;
      color: $clr-txt-ftr;
      position: absolute;
      margin-left: -11px;
      text-align: center;
      line-height: 24px;
    }
  }
}

.article__i {
  color: $color-grey;
  padding-right: 20px;

  &--store {
    color: $primary-color;
    padding-right: 20px;
  }
}
.bg-grey {
  background-color: $main-bg-color;
}

.card {
  border-radius: 20px;
  margin-bottom: 20px;
  @include shadow;
  background-color: $clr-txt-ftr;
  &__content {
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--title {
      margin-bottom: 5px;
      margin-top: 10px;
      font-size: 18px;
      font-weight: bold;
      display: block;
    }
    &--subtitle {
      margin-top: 0;
      margin-bottom: 1em;
      display: block;
    }
  }
  &__shadow {
    box-shadow: 0px 4px 4px -7px rgba(0, 0, 0, 0.1);
  }
}

.restaurants__cards {
  padding-bottom: 50px;
  &--new {
    @include flex-center;
    @include shadow;
    width: 80px;
    height: 29px;
    background-color: $clr-bg-new;
    border-radius: 2px;
    position: absolute;
    right: 15px;
    top: 20px;
    color: $clr-txt-new;
  }
  img {
    height: 231px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
  }
}

.heart-container {
  width: 25px;
  height: 25px;
  margin-right: 30px;
  /****heart's animation****/
  &__heart {
    padding-right: 25px;
    font-size: 25px;
    position: absolute;
    &.fa-solid {
      opacity: 0;
      transition: all 0.3s ease-in-out;
      &:hover,
      &:focus,
      &:visited {
        opacity: 1;
      }
    }
  }
}
.fa-gradient {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from($secondary-color),
    to($primary-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/****footer bloc*****/

footer {
  background-color: $footer-bg-color;
  color: $clr-txt-ftr;
  height: 186px;
  width: 100%;

  h3 {
    color: $clr-txt-ftr;
    font-family: $font-logo;
    font-weight: 300;
    margin-top: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
  }

  i {
    width: 15px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding-inline-start: 20px;

    li {
      padding-top: 5px;
    }

    i {
      padding-right: 15px;
    }
  }
}

/*****media queries Desktop version****/
@media (min-width: 1024px) {
  .header {
    box-shadow: 0px 5px 6px -6px rgba(0, 0, 0, 0.1);
  }
  .container {
    max-width: 1055px;
  }
  .adress__section {
    box-shadow: none;
  }

  .restaurants__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    .card {
      width: 30rem;
      max-width: 48%;
    }
  }
  @include footer-media-queries;
  .nav-bar {
    display: flex;
    padding-right: 60px;
  }
  ul {
    display: flex;
    padding-top: 50px;
    li {
      padding-right: 15px;
    }
  }
  .steps__functionning {
    flex-direction: row;
    gap: 20px;
    padding-bottom: 30px;
  }
}
/*****media queries tablet version*****/
@media (min-width: 768px) and (max-width: 1023px) {
  @include footer-media-queries;
  .nav-bar {
    display: flex;
  }

  ul {
    display: flex;
    padding-top: 50px;
    gap: 10px;
    li {
      padding-right: 6px;
      font-size: 14px;
    }
  }
  .steps__functionning {
    flex-direction: row;
    gap: 20px;
    padding-bottom: 30px;
    &--content {
      padding-left: 24px;
      font-size: 14px;
    }
    i {
      padding-right: 9px;
    }
  }
  .restaurants__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    .card {
      width: 46%;
    }
  }
}
