@import "../sass/style.scss"; /*the same style of index.html*/

.header {
  display: flex;
  i {
    font-size: 20px;
    position: absolute;
    left: 5%;
    bottom: 39%;
  }
}
.rest-img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}
.rest-container {
  border-radius: 30px;
  margin-top: -50px;
  position: relative;
  &.container {
    padding: 40px 20px;
  }
  h1 {
    font-family: Shrikhand, serif;
    font-size: 28px;
    width: 80%;
  }
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-title {
  font-weight: normal;
  margin-bottom: 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 45px;
    height: 3px;
    background-color: $clr-bg-new;
  }
}
.menu-cards {
  margin-top: 40px;

  .card {
    padding-left: 15px;
    overflow: hidden;
    .card-content {
      padding-left: 0;
      overflow: hidden;
      justify-content: initial;
    }
  }
}

.txt-card {
  width: 85%;
  transition: 0.5s ease-in-out;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  .card-title,
  .card-subtitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;
  }
}
.menu-price {
  width: 15%;
  padding-top: 22px;
  padding-left: 10px;
}

.hidden-ckeckbox {
  display: none;
}
/*animation of menu-cards*/
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.menu-cards--animation {
  opacity: 0;
  animation: slideUp 1s ease forwards;
  @for $i from 1 through 3 {
    &-#{$i} {
      animation-delay: #{$i - 1}s;
    }
  }
}

.rest-btn {
  text-align: center;
  .btn {
    padding: 15px 45px;
    margin-top: 15px;
  }
}

.checkbox {
  @include flex-center;
  height: 73px;
  width: 80px;
  margin-right: -90px;
  background-color: $tertiary-color;
  transition: 0.3s ease;
  &__circle {
    @include flex-center;
    background-color: #fff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    &--mark {
      color: $tertiary-color;
    }
  }
}

input.menu-checkbox:checked + .card-content {
  .checkbox {
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .title-container {
    justify-content: center;
    gap: 30px;
    h1 {
      width: auto;
    }
  }
  .menu-cards {
    .card {
      .card-content {
        &:hover {
          .checkbox {
            margin-right: 0;
          }
        }
        .txt-card {
          width: 95%;
        }

        .menu-price {
          width: 5%;
        }
        .checkbox {
          margin-right: -90px;
        }
      }
    }
  }
  input.menu-checkbox:checked + .card-content {
    .txt-card {
      width: 95%;
    }
  }
  h1 {
    text-align: center;
  }
}

/*****media queries tablet version*****/
/****j'ai répété le code du desktop***/
@media (min-width: 768px) and (max-width: 1023px) {
  .menu-cards {
    .card {
      .card-content {
        &:hover {
          .checkbox {
            margin-right: 0;
          }
        }
        .txt-card {
          width: 90%;
        }

        .menu-price {
          width: 10%;
        }
        .checkbox {
          margin-right: -90px;
        }
      }
    }
  }
}
