@charset "UTF-8";
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

* {
  font-family: Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 90%;
  margin: auto;
  padding: 0 20px;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.header {
  display: flex;
  justify-content: center;
  z-index: 1;
  box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.1);
  position: relative;
}

#logo {
  display: flex;
  justify-content: center;
  padding-bottom: 18px;
  padding-top: 16px;
}

.adress__section {
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  box-shadow: 0px 10px 6px -6px rgba(0, 0, 0, 0.15);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adress__section i {
  margin-right: 17px;
}

.first-section {
  padding: 35px 0 50px;
  justify-content: center;
  display: flex;
  text-align: center;
}

.btn {
  border-radius: 25px;
  border: none;
  color: #ffffff;
  margin-top: 10px;
  padding: 15px 30px;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 6px -6px rgba(0, 0, 0, 0.15);
  position: relative;
}
.btn:hover {
  opacity: 0.7;
  box-shadow: 0px 12px 6px -6px rgba(0, 0, 0, 0.15);
}

.section-title {
  padding-top: 35px;
  padding-bottom: 20px;
  margin: 0;
}

.steps__functionning {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.article__functionning {
  height: 72px;
  background-color: #f6f6f6;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 100%;
}
.article__functionning--content {
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.article__functionning.card {
  background-color: #f6f6f6;
}
.article__functionning span {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #9356dc solid 1px;
  background-color: #9356dc;
  color: white;
  position: absolute;
  margin-left: -11px;
  text-align: center;
  line-height: 24px;
}

.article__i {
  color: grey;
  padding-right: 20px;
}
.article__i--store {
  color: #9356dc;
  padding-right: 20px;
}

.bg-grey {
  background-color: #f6f6f6;
}

.card {
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 6px -6px rgba(0, 0, 0, 0.15);
  position: relative;
  background-color: #ffffff;
}
.card .card-content {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .card-content .txt-card .card-title {
  margin-bottom: 5px;
  margin-top: 10px;
}
.card .card-content .txt-card .card-subtitle {
  margin-top: 0;
}

.restaurants-cards {
  padding-bottom: 50px;
}
.restaurants-cards img {
  height: 231px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants-cards .new {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 6px -6px rgba(0, 0, 0, 0.15);
  position: relative;
  width: 80px;
  height: 29px;
  background-color: #99e2d0;
  border-radius: 2px;
  position: absolute;
  right: 15px;
  top: 20px;
}
.restaurants-cards .new span {
  color: #008766;
}

i.heart {
  /*à verifier*/
  padding-right: 25px;
  font-size: 25px;
}

footer {
  background-color: #353535;
  color: #ffffff;
  height: 186px;
  width: 100%;
}
footer h3 {
  color: white;
  font-family: Shrikhand, serif;
  font-weight: 300;
  margin-top: 0;
  padding-top: 20px;
  padding-left: 20px;
}
footer i {
  width: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 20px;
}
ul li {
  padding-top: 5px;
}
ul i {
  padding-right: 15px;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1055px;
  }
}
.header {
  display: flex;
}
.header i {
  font-size: 20px;
  position: absolute;
  left: 5%;
  bottom: 39%;
}

.rest-img {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.rest-container {
  border-radius: 30px;
  margin-top: -50px;
  position: relative;
}
.rest-container.container {
  padding: 40px 20px;
}
.rest-container h1 {
  font-family: Shrikhand, serif;
  font-size: 28px;
}

.title-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.menu-title {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
  position: relative;
}
.menu-title::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 45px;
  height: 3px;
  background-color: #99e2d0;
}

.menu-cards {
  margin-top: 40px;
}
.menu-cards .card {
  padding: 0 15px;
}
.menu-cards .card-content {
  padding-left: 0;
}

.rest-btn {
  text-align: center;
}
.rest-btn .btn {
  padding: 15px 45px;
  margin-top: 15px;
}/*# sourceMappingURL=restaurants.css.map */