@import "../sass/style.scss";

.header {
  display: flex;
  i {
    font-size: 20px;
    position: absolute;
    left: 5%;
    bottom: 39%;
  }
}
.rest-img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}
.rest-container {
  border-radius: 30px;
  margin-top: -50px;
  position: relative;
  &.container {
    padding: 40px 20px;
  }
  h1 {
    font-family: Shrikhand, serif;
    font-size: 28px;
  }
}

.title-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.menu-title {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 45px;
    height: 3px;
    background-color: $clr-bg-new;
  }
}
.menu-cards {
  margin-top: 40px;
  .card {
    padding: 0 15px;
  }
  .card-content {
    padding-left: 0;
  }
}
.rest-btn {
  text-align: center;
  .btn {
    padding: 15px 45px;
    margin-top: 15px;
  }
}
